.cabecalho {
  background: $gradient_Cinza;
  color: $azul;
  padding: 1rem 0;
  position: fixed; // Mudança aqui
  width: 100%; // Certifica-se de que o cabeçalho ocupe a largura total da tela
  top: 0; // Fixa no topo da página
  left: 0; // Fixa na lateral esquerda da página
  z-index: 10; // Garante que o cabeçalho fique acima dos outros elementos
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // Adiciona uma sombra para destacar o cabeçalho quando fixo

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;

    @media (max-width: 768px) {
      padding: 0 2rem;
    }
  }

  &__logo {
    max-width: 100px;
    height: auto;

    @media (max-width: 768px) {
      max-width: 70px;
    }
  }

  &__menu-icon {
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 24px;

    span {
      display: block;
      width: 100%;
      height: 3px;
      background-color: $azul;
      border-radius: 2px;
      transition: all 0.3s ease;
    }

    &.open span:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px);
    }

    &.open span:nth-child(2) {
      opacity: 0;
    }

    &.open span:nth-child(3) {
      transform: rotate(-45deg) translate(5px, -6px);
    }
  }

  &__nav {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;

      li {
        margin-left: 3rem;

        a {
          font-size: 18px;
          font-weight: 600;
          letter-spacing: 1.5px;
          text-transform: uppercase;
          color: $azul;
          text-decoration: none;
          padding: 0.5rem 0;
          transition: color 0.3s ease;

          &:hover {
            color: $azulHover;
            cursor: pointer;
          }
        }
      }
    }

    @media (max-width: 768px) {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 100vh;
      background: $gradient_Cinza2;
      flex-direction: column;
      align-items: center;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.3s ease;

      &.open {
        max-height: 100vh;
      }

      ul {
        flex-direction: column;

        li {
          margin: 10px 0;

          a {
            font-size: 1.2rem;
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    &__menu-icon {
      display: flex;
    }

    &__nav {
      display: none;
      &.open {
        display: flex;
      }
    }
  }
}

.banner {
  position: relative;
  color: $branco;
  text-align: center;
  padding: 20rem 1rem;
  
  @media (max-width: 768px) {
    padding: 10rem 1rem;
  }

  &__background {
    background: url("/src/assets/imagens/banner.jpg") no-repeat center center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: 1;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.65);
    z-index: 2;
  }

  &__container {
    position: relative;
    z-index: 3;
    max-width: 1200px;
    margin: 0 auto;

    h2 {
      font-size: 2.5rem;

      @media (max-width: 768px) {
        font-size: 2rem;
      }
    }

    img {
      width: 100%;
      max-width: 25px;
      height: auto;
    }

    p {
      font-size: 1.25rem;
      margin-bottom: 2rem;

      @media (max-width: 768px) {
        font-size: 1rem;
      }
    }

    button {
      background: $azul;
      color: $branco;
      border: none;
      padding: 12px 24px;
      border-radius: 28px;
      cursor: pointer;
      font-size: 1rem;

      &:hover {
        background: $azulHover;
      }

      @media (max-width: 768px) {
        padding: 8px 20px;
      }
    }
  }
}

.footer {
  background: $gradient_Cinza;
  color: $branco;
  padding: 20px 0px 0px 0px;
  text-align: center;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;

    @media (max-width: 768px) {
      flex-direction: column;
      text-align: center;
    }

    &__logo {
      text-align: start;
      flex: 1;

      img {
        max-width: 100%;
        height: auto;
        max-height: 100px;
      }
    }

    &__info {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      @media (max-width: 768px) {
        align-items: center;
        margin-top: 20px;
      }

      p {
        margin: 5px 0;

        a {
          color: $branco;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  &__copyright {
    margin-top: 10px;
    font-size: 0.9rem;

    @media (max-width: 768px) {
      font-size: 0.8rem;
    }
  }
}

.landingPage {
  .tooltip {
    position: absolute;
    background-color: $branco;
    color: $cinza;
    padding: 5px 10px;
    border-radius: 4px;
    bottom: 40%;
    left: 0px;
    z-index: 10;
    font-size: 12px;

    @media (max-width: 768px) {
      font-size: 10px;
      padding: 3px 8px;
      bottom: 50%;
    }
  }

  &__section {
    padding: 60px 0;

    &:nth-child(odd) {
      background-color: $branco;
      color: $cinza;
    }

    &:nth-child(even) {
      background-color: $cinza;
      color: $branco;
    }

    @media (max-width: 768px) {
      padding: 40px 0;
    }
  }

  &__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 20px;

    &--about {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 40px;
      flex-wrap: wrap;

      @media (max-width: 768px) {
        flex-direction: column;
        text-align: start;
      }

      .landingPage__text {
        flex: 1;
        max-width: 600px;
        padding: 20px;

        h2 {
          font-size: 2rem;
          color: $cinza;
          margin-bottom: 15px;

          @media (max-width: 768px) {
            font-size: 1.5rem;
          }
        }

        p {
          font-size: 1.1rem;
          line-height: 1.6;
          color: $cinza;

          @media (max-width: 768px) {
            font-size: 1rem;
          }
        }
      }

      .landingPage__image {
        flex: 1;
        display: flex;
        justify-content: center;
        max-width: 400px;

        img {
          width: 100%;
          border-radius: 10px;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }
      }
    }

    .avaliacoes__lista {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 20px;

      @media (max-width: 768px) {
        flex-direction: column;
        gap: 15px;
      }

      .avaliacoes__coluna {
        flex: 1 1 45%;
        display: flex;
        flex-direction: column;

        .avaliacao {
          background: $branco;
          border-radius: 8px;
          padding: 15px;
          box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
          margin-bottom: 15px;

          p {
            font-size: 1rem;
            color: $cinza;
            margin: 0;

            @media (max-width: 768px) {
              font-size: 0.9rem;
            }
          }

          span {
            display: block;
            font-size: 0.9rem;
            color: $azul;
            margin-top: 5px;

            @media (max-width: 768px) {
              font-size: 0.8rem;
            }
          }
        }
      }
    }
  }

  .landingPage__cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 40px 20px;

    @media (max-width: 768px) {
      padding: 30px 10px;
      gap: 15px;
    }

    &__card {
      flex: 1 1 300px;
      max-width: 400px;
      border-radius: 8px;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      padding: 20px;
      text-align: left;
      transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

      h3 {
        font-size: 1.4rem;
        color: $branco;
        margin-bottom: 10px;
        border-bottom: 2px solid $azul;
        padding-bottom: 5px;

        @media (max-width: 768px) {
          font-size: 1.2rem;
        }
      }

      p {
        font-size: 1rem;
        margin-bottom: 15px;
        color: $branco;

        @media (max-width: 768px) {
          font-size: 0.9rem;
        }
      }

      &:hover {
        transform: translateY(-3px);
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
      }

      .price {
        font-size: 1.3rem;
        background: $gradient_azul;
        border-radius: 28px;
        padding: 4px 12px;
        color: $cinza;
        font-weight: bold;

        @media (max-width: 768px) {
          font-size: 1.1rem;
        }
      }
    }
  }
}

.linguagens {
  background-color: $cinza;
  padding: 0px 0px 40px 0px;
  text-align: start;

  &__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;

    h2 {
      color: $branco;
      margin-bottom: 20px;
    }

    .linguagens__icons {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      cursor: pointer;
      gap: 20px;
    }

    .linguagens__item {
      background: $cinza;
      border-radius: 8px;
      padding: 20px;
      text-align: center;
      width: 120px;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      transition: transform 0.3s ease, box-shadow 0.3s ease;

      p {
        margin-top: 10px;
        font-size: 1rem;
        color: $azul;
        font-weight: bold;
      }

      &:hover {
        transform: translateY(-5px);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
      }

      .linguagens__icon {
        color: $azul;
        font-size: 2rem;
      }
    }
  }
}

.formulario {
  background-color: $branco;
  padding: 40px 0;
  margin-top: 110px;
  text-align: start;

  &__container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;

    form {
      h2 {
        font-size: 2rem;
        color: $azul;
      }
      display: flex;
      flex-direction: column;
      gap: 30px;
      background: $cinza;
      border-radius: 8px;
      padding: 35px 25px;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      margin: 0 auto;
      max-width: 100%;
      text-transform: uppercase;

      label {
        display: flex;
        flex-direction: column;
        gap: 5px;
        color: $azul;
        font-weight: 700;

        input,
        textarea {
          outline: none;
          color: $borda-card;
          padding: 8px 12px;
          background-color: transparent;
          border: 1px solid $borda-card;
          border-radius: 3px;
          font-size: 1rem;
          width: 100%;
          box-sizing: border-box;
        }

        textarea {
          resize: vertical;
          min-height: 100px;
        }
      }

      button {
        background: $azul;
        color: $branco;
        border: none;
        padding: 12px 24px;
        border-radius: 28px;
        cursor: pointer;
        font-size: 1rem;
        transition: background 0.3s ease;

        &:hover {
          background: $azulHover;
        }
      }
    }
  }
}

.sobre-page {
  background-color: $branco;
  color: $cinza;
  padding: 95px 40px;

  @media (max-width: 768px) {
    padding: 30px;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
  }

  h1 {
    color: #1190cb;
    text-align: center;
    margin-bottom: 40px;
  }

  p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: justify;
    text-indent: 40px;
    @media (max-width: 768px) {
      text-indent: 20px;
    }
  }
}
